<%= form_for(@movie) do |f| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
      <% @movie.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.label :title %><br>
    <p>
      <em>Enter movie title.</em>
    </p>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :front_text %><br>
    <p>
      <em>Enter movie quote or other clues here!</em>
    </p>
    <%= f.text_field :front_text %>
  </div>
  <div class="field">
    <%= f.label :front_image %><br>
    <p>
      <em>Enter picture url.</em>
    </p>
    <%= f.text_field :front_image %>
  </div>
  <div class="field">
    <%= f.label :back_text %><br>
    <p>
      <em>Enter answer here.</em>
    </p>
    <%= f.text_field :back_text %>
  </div>
  <div class="field">
    <%= f.label :back_image %><br>
    <p>
      <em>Enter picture url.</em>
    </p>
    <%= f.text_field :back_image %>
  </div>
  <div class="field">
    <%= f.label :hint %><br>
    <p>
      <em>Give 'em a hint!</em>
    </p>
    <%= f.text_field :hint %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
