
<h1>Guess The Movie</h1>

<% @movies.each do |movie| %>

 <div class="flip-3d">
  <figure>
    <% if movie.front_text? %>
      <p>"<%= movie.front_text%>"</p>
      <% end %>
    <% if movie.front_image? %>
      <img src="<%= movie.front_image %>" alt="">
      <% end %>
    <figcaption>
    <h4><%= movie.back_text %></h4>
    <img src="<%= movie.back_image %>" alt="">
    </figcaption>
  </figure>

  <a href="<%= @omdb %>"><button type="button">TEST</button></a>


  </div>

<% end %>
