<div class="center jumbotron header img-responsive">
  <div class="logo" style="display: flex; height: 150px; padding-top: 13vw;">
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">F</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">l</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">i</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">p</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">F</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">l</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">o</h1></div>
    <div class="flip-3d" style="padding-top: 0px;"><h1 style="margin-top: 0px; padding-top: 0px;">p</h1></div>
    <div class="flip-3d" style="padding-top: 2vw;"><img src="http://i.imgur.com/y2RWDFU.png" style="height: 10vw; width: 10vw;"></div>
  </div>
</div>
<h2>Guess the movie, click the box, and see the answer!</h2>

<div class="spacing">
</div>


<div class="new-button"><h5><%= link_to 'Create your own!', new_movie_path %></h5></div>
  

<% @movies.each do |movie| %>

<div class="col-xs-6 col-md-3">
  <div class="wrapper cards">
    <div class="container">
      <div class="card">
        <div class="front">
          <% if movie.front_text? %>

          <h3>"<%= movie.front_text%>"</h3>
          <% end %>
          <% if movie.front_image? %>
          <img src="<%= movie.front_image %>" alt="">
          <% end %>
        </div>
        <div class="back">
          <div class="content">
            <div class="movie-img">
              <h4><%= movie.back_text %></h4>
              <img src="<%= movie.back_image %>" alt="">
              <%title = movie.title.downcase.gsub " ", "_" %>
            </div>
            <div class="bad-tomato">
              <a href="http://www.rottentomatoes.com/m/<%=title%>/" target="_blank"><img class="tomato" src="/assets/rotten_tomatoes_8290 copy.png"/></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="box"></div>

<% end %>


<div class="spacing">
</div>

<div>
  <footer class="container-fluid footer">
    <center>  <h3> The Team </h3> </center>
    <p>
      <center>
        <img src="https://avatars1.githubusercontent.com/u/16521673?v=3&s=460" class="img-circle">
        <a href="https://anderson-portfolio.herokuapp.com/" target="_blank">
          <img src="https://avatars0.githubusercontent.com/u/8919885?v=3&s=460" class="img-circle">
        </a>
        <a href="http://stevie-portfolio.herokuapp.com/" target="_blank">
          <img src="http://i.imgur.com/NTLLgFP.jpg" class="img-circle">
        </a>
      </center>

      <center>
        <p>
          Copyright &copy; 2016
        </center>
      </p>
    </footer>
  </div>




    <!-- <script src="javascript/movies.js"></script> -->
