<% @movies.each do |movie| %>

  <div class="flip-3d">
    <figure>
      <h4><%= movie.question %></h4>
      <img src="<%= movie.front_image %>" alt="<%=movie.front_text%>">
      <figcaption>
        <%= movie.back_text %>
        <img src="<%= movie.back_image %>" alt="bob">
      </figcaption>
  </figure>
  </div> 

<% end %>

<div class="flip-3d">
  <figure>
    <img src="http://demosthenes.info/assets/images/thumbnails/bee.jpg" alt="">
    <figcaption>Bee</figcaption>
  </figure>
  </div>
<div class="flip-3d">
  <figure>
    <img src="http://demosthenes.info/assets/images/thumbnails/queenstown.jpg" alt="">
    <figcaption>Queenstown</figcaption>
  </figure>
</div>