<p id="notice"><%= notice %></p>

<h1>Listing Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Front text</th>
      <th>Front image</th>
      <th>Question</th>
      <th>Back text</th>
      <th>Back image</th>
      <th>Hint</th>
      <th>Likes</th>
      <th>Dislikes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.front_text %></td>
        <td><%= movie.front_image %></td>
        <td><%= movie.question %></td>
        <td><%= movie.back_text %></td>
        <td><%= movie.back_image %></td>
        <td><%= movie.hint %></td>
        <td><%= movie.likes %></td>
        <td><%= movie.dislikes %></td>
        <td><%= link_to 'Show', movie %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>

<%# @movies.each do |movie| %>


 <!--  <div class="card effect__click">

    <div class="card__front">
      <span class="card__text">
        <h4><%= movie.question %></h4>
        <p><%=movie.front_text%></p>
      </span>
      <img src="<%= movie.front_image %>" alt="">
    </div>
 
   
    <div class="card__back">
      <span class="card__text">
        <h4><%= movie.back_text %></h4>
      </span>
      <img src="<%= movie.back_image %>" alt="">
    </div>

  </div> -->

<%# end %>