<div class="center jumbotron header img-responsive">
  <h1>Flipflop</h1>

</div>

<% @movies.each do |movie| %>

  <div class="col-xs-6 col-md-3">
 <div class="wrapper cards">
   <div class="container">
     <div class="card">
        <div class=front>
    <% if movie.front_text? %>

        <p>"<%= movie.front_text%>"</p>
        <% end %>
      <% if movie.front_image? %>
        <img src="<%= movie.front_image %>" alt="">
        <% end %>
    </div>
    <div class="back">
      <div class="content">
    <h4><%= movie.back_text %></h4>
    <img src="<%= movie.back_image %>" alt="">
    <%title = movie.title.downcase.gsub " ", "_" %>
      <center><a href="http://www.rottentomatoes.com/m/<%=title%>/" target="_blank"><img class="tomato" src="/assets/rotten_tomatoes_8290 copy.png"/></a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  </div>
  <div class="box"></div>



<% end %>
<div class="spacing">
</div>

<div>
<footer class="container-fluid footer">
    <center>  <h3> The Team </h3> </center>
  <p>
    <center>
    <img src="https://avatars1.githubusercontent.com/u/16521673?v=3&s=460" class="img-circle">
    <a href="https://anderson-portfolio.herokuapp.com/" target="_blank">
    <img src="https://avatars0.githubusercontent.com/u/8919885?v=3&s=460" class="img-circle">
  </a>
    <a href="http://stevie-portfolio.herokuapp.com/" target="_blank">
    <img src="http://i.imgur.com/NTLLgFP.jpg" class="img-circle">
  </a>
  </center>
  Copyright &copy; 2016 Blue bottle VHS letterpress kombucha kale chips microdosing. Paleo celiac organic chambray everyday carry farm-to-table wayfarers cornhole. Pabst fingerstache keytar, chillwave church-key cold-pressed try-hard truffaut ethical williamsburg. Man bun ugh stumptown fanny pack scenester. Knausgaard mixtape bicycle rights cray hoodie, master cleanse normcore vinyl. Hammock church-key flannel master cleanse, pug actually scenester disrupt gluten-free shabby chic microdosing freegan. Taxidermy bushwick blog mixtape.
</p>
</footer>
</div>


    <!-- <script src="javascript/movies.js"></script> -->
