
<% @movies.each do |movie| %>

 <div class="flip-3d">
  <figure>
    <h4><%= movie.question %></h4>
    <p>"<%= movie.front_text%>"</p>
    <img src="<%= movie.front_image %>" alt="">
    <figcaption> 
    <h4><%= movie.back_text %></h4>
    <img src="<%= movie.back_image %>" alt="">
    </figcaption>
  </figure>
  </div>

<% end %>