<div class="center jumbotron">
  <h1>Guess The Movie</h1>

</div>

<% @movies.each do |movie| %>

 <div class="wrapper cards">
   <div class="container">
     <div class="card">
        <div class=front>
    <% if movie.front_text? %>

        <p>"<%= movie.front_text%>"</p>
        <% end %>
      <% if movie.front_image? %>
        <img src="<%= movie.front_image %>" alt="">
        <% end %>
    </div>
    <div class="back">
      <div class="content">
    <h4><%= movie.back_text %></h4>
    <img src="<%= movie.back_image %>" alt="">
    <%title = movie.title.downcase.gsub " ", "_" %>
      <center><a href="http://www.rottentomatoes.com/m/<%=title%>/" target="_blank"><img class="tomato" src="/assets/rotten_tomatoes_8290 copy.png"/></a></center>
          </div>
        </div>
      </div>
    </div>
  </div>

  </div>
  <div class="box"></div>



<% end %>


    <!-- <script src="javascript/movies.js"></script> -->
    <div class="wrapper cards">
      <div class="container">
        <div class="card">
          <div class="front"><p>About me<p></div>
          <div class="back">
            <div class="content">
              <h3 class="cardTitle"></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sodales, mi ac vulputate blandit, libero nulla bibendum quam.</p>
            </div>
          </div>
        </div>
      </div>
