<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Front text:</strong>
  <%= @movie.front_text %>
</p>

<p>
  <strong>Front image:</strong>
  <%= @movie.front_image %>
</p>

<p>
  <strong>Question:</strong>
  <%= @movie.question %>
</p>

<p>
  <strong>Back text:</strong>
  <%= @movie.back_text %>
</p>

<p>
  <strong>Back image:</strong>
  <%= @movie.back_image %>
</p>

<p>
  <strong>Hint:</strong>
  <%= @movie.hint %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @movie.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @movie.dislikes %>
</p>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
